<div class="row">
    <a href="https://github.com/@ViewBag.PullRequestAuthor">
        <img class="pull-left" style="margin-right: 20px" alt="@ViewBag.PullRequestAuthor" src="https://avatars3.githubusercontent.com/u/@ViewBag.PullRequestAuthorID?s=88&amp;v=4" width="90" height="90">
    </a>
    <h2>@ViewBag.PullRequestTitle (#@ViewBag.PullRequestNumber)</h2>
</div>

@foreach (string I in ViewBag.ModuleViews)
{
    <hr />
    @Html.Partial(I);
}
